.teams-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 15px; 
    padding: 20px 0;
}
.team-card {
    width: 180px; 
    min-height: 100px; 
    background-color: #fff;
    border: 1px solid #fff4e0; 
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center; 
    text-align: center;
}

.team-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.team-name {
    font-size: 17px;
    font-weight: 600;
    color: #333;
    margin: 0 0 10px 0; 
    width: 100%;
}

.team-actions {
    display: flex;
    gap: 8px;
    margin-top: auto; 
    width: 100%;
}

.team-actions button {
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    width: 50%;
}

.delete-team {
    background-color: #fedede;
    color: #C10007; 
    border: 1px solid #FFC9C9;
}
.delete-team:hover {
    background-color: rgba(248, 113, 113, 0.737);
    color: white;
}

.edit-team {
    background-color: #faf7d7; 
    color: #B07117; 
    border: 1px solid #FFE85B;
}
.edit-team:hover {
    background-color: #b07017d0;
    color: white;
}