.shift-card {
    background-color: #F8FAFC; 
    border-radius: 8px; 
    padding: 15px 20px;
    width: 90%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 15px;
}

.shift-card-left {
    display: flex;
    align-items: flex-start; 
}

.date-icon {
    color: #99a9b7;
    font-size: 30px;
    margin-right: 15px;
    margin-top: 1px;
}

.day-date-time {
    display: flex;
    flex-direction: column;
}

.day-date-time p {
    margin: 0;
}

.date-text {
    font-weight: 500; 
    font-size: 10px;
    color: #333;
}

.time-text {
    font-weight: 400; 
    font-size: 14px;
    color: #777;
}
.shift-type {
    font-size: 13px;
    font-weight: 600;
    text-transform: lowercase; 
    margin: 0;
        border-radius: 20px; 
    padding: 4px 12px; 
}

.morning-shift {
    background-color: #fff4d9; 
    color: #a06e30; 
}
.night-shift {
    background-color: #e4e6ec; 
    color: #3b4a5d; 
}