#root{
    width: 100%;
}
.employee-home {
  display: flex;
  flex-direction: column;
  height: 300vh;
  width: 100; 
  justify-content: top;  
  align-items: center;  
}

.top-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15vh;
  background-color: rgb(255, 255, 255);
}

.bar-left {
  display: flex;
  flex-direction: row;
  justify-content: center;  
  align-items: center;    
  text-align: left;
  padding-left: 28px;
}

.bar-welcome{
  display: flex;
  flex-direction: column; 
  justify-content: center;
  color: #0a0402;
  margin-left: 15px;
}
.bar-welcome p{
    margin: 0;
    padding: 0;
}
.bar-welcome #employee-name{
  color :#5f5c5c;
}

.logo {
  height: 10vh;
  margin-right: 20px; 
}

.logout-btn {
background-color: #f8f5f0; 
  border: 1px solid #d9e2ec; 
  border-radius: 6px; 
  color: #000000;
  cursor: pointer;
  font-weight: 500;
  padding: 8px 15px; 
  display: flex; 
  align-items: center; 
  justify-content: center;
  font-size: 0.95rem;
  margin-right: 18px; 
}

.logout-btn:hover{
  background-color: #fff4e3;
  border-color: #fad2a4;
  color:#CA3500;
}

.logout-btn .logout-icon {
  width: 18px;
  height: 18px;
  margin-right: 8px; 
  color: #000000; 
}
.e-home-body{
    background-color: #F8F7F0;
    width: 100%;
    height: 300vh;
    display: flex;
    flex-direction: row;
    justify-items:end;
}

.left{
    width: 30%;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;
    margin: 15px ;
    padding: 5px;
    text-align: center;
}
.right{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.e-home-body .right .e-nav-bar{
    background-color: #ffffff;
    width: 90%;
    height: 3.4%;
    border-radius: 10px;
    color: #000000;
    margin: 15px ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
}


.e-tab {
  width: 20%;
  background-color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  padding : 5px 0;
}

.e-tab:hover {
  background-color: #f3f3f3;
}

.e-active {
  width: 20%;
  background-color: #FFEDD4; /* Active tab color */
  color: #CA3500;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  padding : 5px 0;
  border: 1px solid #e29e79;
}
.e-home-body .body  {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  flex-grow: 1;
  background-color: #fff;
  width: 85%;
  color: black;
  margin-left: 2%;
}


.employee-card {
    background-color:#fffdfa;
    border-radius: 8px;
    padding: 20px;
    padding-top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    max-width: 400px;
    border: 1px solid#FFEDD4;
    width: 80%;
}

.personal-info h1 {
    font-size: 28px;
    font-weight: 600;
    color: #464444;
    margin-bottom: 4px; 
}

.personal-info h2 {
    font-size: 18px;
    font-weight: 400;
    color: #555;
    margin: 0 0 15px 0;
}
.contact-info p {
    font-size: 15px;
    color: #333;
    display: flex;
    align-items: center;
}

.contact-info p svg {
    margin-right: 8px;
    color: #888;
}
.divider {
    border: 0;
    border-top: 1px solid #FFEDD4;
    margin: 15px 0; 
}
.status-info p {
    font-size: 15px;
    color: #333;
    margin: 10px 0; 
    display: flex;
    align-items: center;
}
.status-info .vacation svg {
    color: #f0a35e;
    margin-right: 8px;
}

.status-info .pending svg {
    color: #4caf50; 
    margin-right: 8px;
}