@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.main-page {
  display: flex;
  height: 100vh;
  width: 100vw; 
}


.left-side {
  background-color: #f8f7f0;
  flex: 1;
  display: flex;
  justify-content: center;  
  align-items: center;    
  text-align: center;
  padding: 20px;
}

.left-side-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left-side-content .logo {
  max-width: 200px;
  height: auto;
  margin-right: 20px; 
}

.right-side {
  background-color: #fd7046; 
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.website-name {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 3rem;
  margin-bottom: 10px;
  color: #ff7043;
}

.tagline {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: #ff7043;
  margin-top: 10px;
}

.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
