
.requests-container{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.requests-container ul{
    width: 95%;
    padding-left: 0;
}
.request-container {
    margin-bottom: 15px; 
    background-color: #fff; 
    border-radius: 12px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.292); 
    list-style: none;
}

.r-top {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 15px 20px; 
}
.r-t-left .r-e-name {
    font-size: 24px;
    font-weight: 600; 
    color: #1f2937; 
    margin: 0;
}

.r-t-left .r-e-team {
    font-size: 15px;
    color: #6b7280;
    margin: 0;
}

.r-t-left .r-dates {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #4b5563;
    margin: 10px 0 0 0;
}

.r-t-right p {
    padding: 4px 12px 6px 12px;
    border-radius: 9999px; 
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    background-color: #FEF9C2;
    color: #A65F00;
    border: 1px solid #fde68a;
}

.r-bottom {
    padding: 15px ;
    margin-left: 0;
}

.r-bottom p {
    font-size: 0.9em;
    color: #374151;
    background-color: #F8FAFC;
    padding: 15px;
    border-radius: 10px;
}

.r-actions {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    width: 100%;
}

.r-actions #r-edit {
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 15px;
    width: 50%;
    background-color: #F54A00 ;
    border-color: #582f16ae;
}

.r-actions #r-edit:hover {
    background-color:#b83902;
}
.r-actions #r-cancel {
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 15px;
    width: 50%;
    border-color: #d3dae7;
    color: #1f2937;
    background-color: #FAFAFA;
}

.r-actions #r-cancel:hover {
    background-color:#FFF7ED;
    color: #F54A00;
}