form {
    margin: 0 40px;
    padding: 20px;
    background-color: #f5f5f54c;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.292); 
}


.form-title {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 25px;
}

.date-fields {
    display: flex;
    gap: 20px; 
    margin-bottom: 10px;
}


.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px; 
}

.input-group .full-width {
    width: 100%;
}

.input-group label {
    font-size: 14px;
    font-weight: 600;
    color: #333;
    margin-bottom: 8px;
}

form input,form textarea {
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    color: #333;
    width: 100%; 
    box-sizing: border-box;
    background-color: white;
    font-family:Arial, Helvetica, sans-serif;
}


.submit-button {
    background-color:#2c9b19b9; 
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    width: 100%; 
    margin-top: 10px;
}

.submit-button:hover {
    background-color: #01aa2e; 
}
